node_modules
xcuserdata
.metadata
benchmark/trigger.io/development/ios/simulator-ios.app
benchmark/trigger.io/development/ios/device-ios.app
benchmark/trigger.io/release/ios
tests/objc-ios/build
tests/objc-ios/dist
tests/reports
examples/objc-ios/build
